<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net48" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="4.7.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Websocket.Client" version="4.4.43" targetFramework="net48" />
  <package id="YamlDotNet" version="12.0.0" targetFramework="net48" />
</packages>